.App {
  text-align: center;
}

.page-title {
  margin: 50px 0;
}

.card {
  transition: transform 0.2s ease; /* It makes sure that the transition is smooth */
}

.card:hover {
  transform: scale(1.05); /* It makes a pop-up like effect */
  background-color: #d0e8f2;
}
