body {
  margin: 0;
  height: 100%;
  min-height: 100%;
}

.heading {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 52px;
  font-weight: 400;
  line-height: 52px;
  color: #000;
}

.title {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: black;
}

.subheading {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #000;
}

.sm-text {
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

/* Navbar CSS */
.custom-navbar {
  background-color: white;
  width: 1400px;
  height: 89px;
  border-bottom: 1px solid black;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
}

.container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  width: 209px;
  height: 63px;
  margin-left: 80px;
  margin-top: 18px;
}

.navbar-nav-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar-nav {
  display: flex;
  gap: 32px;
}

.nav-link {
  color: black;
  max-width: 271px;
  max-height: 24px;
}

.navbar-button {
  color: white;
  background-color: black;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  margin-top: 18px;
  margin-right: 80px;
  margin-left: 10px;
}

/* Hero CSS */
.hero {
  width: 1400px;
  height: 762px;
}
.hero-content {
  width: 1400px;
  height: 762px;
  position: absolute;
  top: -55px;
}

.hero-heading {
  width: 617px;
  height: 156px;
  position: absolute;
  top: 225px;
  left: 78px;
}

.illustration-hero {
  position: absolute;
  top: 194px;
  left: 787px;
  width: 493px;
  height: 495px;
}

.hero-subheading {
  width: 669px;
  height: 54px;
  position: absolute;
  top: 429px;
  left: 78px;
}

.hero-button {
  width: 229px;
  height: 56px;
  position: absolute;
  top: 531px;
  left: 78px;
  background-color: #000;
  color: #ffffff;
  padding: 16px 24px 16px 24px;
  gap: 24px;
  border: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  font-family: "DM Sans", sans-serif;
}

.swirlhero {
  width: 1400px;
  height: 762px;
  position: absolute;
  top: 10px;
  z-index: -1;
}

/* About CSS */
.about {
  width: 1400px;
  height: 698px;
}

.illustration-about {
  position: absolute;
  width: 528px;
  height: 528px;
  top: 840px;
  left: 80px;
}

.rectangole-about {
  width: 574px;
  height: 327px;
  position: absolute;
  top: 1030px;
  left: -4px;
  background-color: #ffc107;
  opacity: 50%;
  z-index: -1;
}

.about-paragraphs {
  position: absolute;
  top: -115px;
  left: 30px;
}
.group1-title {
  width: 472px;
  height: 24px;
  position: absolute;
  top: 1038px;
  left: 733px;
}

.group1-subheading {
  position: absolute;
  width: 548px;
  height: 40px;
  top: 1084px;
  left: 733px;
}

.group2-title {
  position: absolute;
  width: 437px;
  height: 24px;
  top: 1179px;
  left: 733px;
}

.group2-subheading {
  position: absolute;
  width: 560px;
  height: 40px;
  top: 1225px;
  left: 733px;
}

.group3-title {
  position: absolute;
  width: 437px;
  height: 24px;
  top: 1320px;
  left: 733px;
}

.group3-subheading {
  position: absolute;
  width: 535px;
  height: 40px;
  top: 1366px;
  left: 733px;
}

/* Video CSS */
.video {
  width: 1400px;
  height: 851px;
}
.video-heading {
  position: absolute;
  width: 1013px;
  height: 38px;
  /* top: 1710px; */
  left: 80px;
}
.video-background {
  position: absolute;
  width: 1400px;
  height: 611px;
  /* top: 1792px; */
  top: 1700px;
  background-color: #0056b3;
  z-index: -1;
}

.video-container {
  position: absolute;
  top: 1600px;
  left: 159px;
}

/* Testimonial CSS */
.testimonials {
  width: 1400px;
  height: 664px;
  margin-right: 0px;
  margin-left: 0px;
  border: 1px solid black;
}

.testimonials-title {
  width: 781px;
  height: 48px;
  position: absolute;
  top: 2410px;
  left: 78px;
  font-family: "Dela Gothic One";
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  color: black;
}

.testimonials-carousel-container {
  max-width: 1282px;
  height: 421px;
  position: absolute;
  top: 2550px;
  left: 59px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.testimonials-card-container {
  display: flex;
  gap: 20px;
  margin-bottom: 105px;
}

.testimonials-button-prev,
.testimonials-button-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: no-repeat center center;
  background-size: contain;
  border: none;
  cursor: pointer;
  margin-bottom: 105px;
}

.testimonials-button-next {
  transform: rotate(180deg);
}

/* Footer CSS */
.footer {
  /* width: 100%; */
  width: 1400px;
  height: 397px;
  padding: 80px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  color: #fff;
  gap: 64px;
}

.footer-logo {
  width: 234.92px;
  height: 63px;
  position: absolute;
  left: 59px;
}

.footer-links-logo {
  position: absolute;
  left: 59px;
  top: 3150px;
  display: flex;
  gap: 32px;
  z-index: 1;
}

.footer-links-logo a {
  color: #f3f3ff;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}

.footer-divider {
  width: 1280px;
  height: 1px;
  background: #ffffff;
  opacity: 50%;
  position: absolute;
  top: 3200px;
}

.footer-links {
  display: flex;
  gap: 24px;
  position: absolute;
  left: 59px;
  top: 3270px;
}

.footer-links a {
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.footer-marker {
  position: absolute;
  top: 3270px;
  left: 1180px;
}

/* Learning plan CSS */
.learningplan {
  width: 1400px;
  height: 1192px;
}

.learningplan-heading {
  width: 781px;
  height: 48px;
  position: absolute;
  top: 185px;
  left: 310px;
  color: #000;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
}

.card-size {
  width: 346px;
  height: 946px;
  border: 1px solid black;
}

.groupclasses-card {
  position: absolute;
  top: 313px;
  left: 141px;
}

.groupclasses-card-title {
  width: 283px;
  height: 24px;
  position: absolute;
  top: 28px;
  left: 24px;
}
.groupclasses-card-title-rectangle {
  width: 346px;
  height: 80px;
  border: 1px 0px 0px 0px;
  background-color: #ffc107;
  opacity: 25%;
}

.groupclasses-card-title-line {
  width: 346px;
  border: 1px solid black;
  position: absolute;
  top: 80px;
}

.groupclasses-card-title-price {
  width: 346px;
  height: 35px;
  position: absolute;
  top: 129px;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
}

.groupclasses-card-title-pricetext {
  width: 346px;
  height: 40px;

  position: absolute;
  top: 188px;
  text-align: center;
}

.groupclasses-card-title-pricetext .annually,
.groupclasses-card-title-pricetext .monthly {
  display: block;
}

/* Custom plan CSS */
.customplan {
  background-color: plum;
  width: 1400px;
  height: 228px;
  position: absolute;
  top: 1192px;
}

.compareplans {
  background-color: purple;
  width: 1400px;
  height: 228px;
  position: absolute;
  top: 1420px;
}
/* Compare plan CSS */

/* FAQ CSS */
.FAQ-frame {
  width: 1400px;
  height: 712px;
  position: absolute;
  top: 1648px;
  background-color: #0056b3;
}

.FAQ-heading {
  /* color: #ffffff; */
  color: red;
  width: 487px;
  height: 142px;
  top: 1806px;
  left: 80px;
  position: absolute;
}

/* Footerpricing CSS */
.footerpricing {
  width: 1400px;
  height: 397px;
  padding: 80px 60px;
  gap: 64px;
  background-color: #000;
  position: absolute;
  top: 2360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.footerpricing-logo {
  width: 234.92px;
  height: 63px;
  position: absolute;
  left: 59px;
}

.footerpricing-links-logo {
  position: absolute;
  left: 59px;
  top: 175px;
  display: flex;
  gap: 32px;
}

.footerpricing-links-logo a {
  text-decoration: none;
  color: #f3f3ff;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.footerpricing-divider {
  width: 1280px;
  height: 1px;
  background: #ffffff;
  opacity: 50%;
  position: absolute;
  top: 225px;
}

.footerpricing-links {
  display: flex;
  gap: 24px;
  position: absolute;
  left: 59px;
  top: 295px;
}

.footerpricing-links a {
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.footerpricing-marker {
  position: absolute;
  top: 295px;
  left: 1180px;
}
