body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.heading {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 52px;
  font-weight: 400;
  line-height: 52px;
  color: #000;
}

.title {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: black;
}

.subheading {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #000;
}

.sm-text {
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

/* Navbar CSS */
.custom-navbar {
  background-color: white;
  width: 100%;
  height: 89px;
  border-bottom: 1px solid black;
  margin: 0 auto;
  position: absolute;
}

.container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  width: 209px;
  height: 63px;
  margin-left: 80px;
  margin-top: 18px;
}

.navbar-nav-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar-nav {
  display: flex;
  gap: 32px;
}

.nav-link {
  color: black;
  max-width: 271px;
  max-height: 24px;
}

.navbar-button {
  color: white;
  background-color: black;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  margin-top: 18px;
  margin-right: 80px;
  margin-left: 10px;
}

/* Hero CSS */
.hero {
  width: 1400px;
  /* width: 100%; */
  height: 762px;
}
.hero-content {
  width: 1400px;
  /* width: 100%; */
  height: 762px;
  position: absolute;
  top: -55px;
}

.hero-heading {
  width: 617px;
  height: 156px;
  position: absolute;
  top: 225px;
  left: 78px;
}

.illustration-hero {
  position: absolute;
  top: 194px;
  left: 787px;
  width: 493px;
  height: 495px;
}

.hero-subheading {
  width: 669px;
  height: 54px;
  position: absolute;
  top: 429px;
  left: 78px;
}

.hero-button {
  width: 229px;
  height: 56px;
  position: absolute;
  top: 531px;
  left: 78px;
  background-color: #000;
  color: #ffffff;
  padding: 16px 24px 16px 24px;
  gap: 24px;
  border: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  font-family: "DM Sans", sans-serif;
}

.swirlhero {
  width: 1400px;
  height: 762px;
  position: absolute;
  top: 10px;
  z-index: -1;
}

/* About CSS */
.about {
  width: 1400px;
  height: 698px;
}

.illustration-about {
  position: absolute;
  width: 528px;
  height: 528px;
  top: 840px;
  left: 80px;
}

.rectangole-about {
  width: 574px;
  height: 327px;
  position: absolute;
  top: 1030px;
  left: -4px;
  background-color: #ffc107;
  opacity: 50%;
  z-index: -1;
}

.about-paragraphs {
  position: absolute;
  top: -115px;
  left: 30px;
}
.group1-title {
  width: 472px;
  height: 24px;
  position: absolute;
  top: 1038px;
  left: 733px;
}

.group1-subheading {
  position: absolute;
  width: 548px;
  height: 40px;
  top: 1084px;
  left: 733px;
}

.group2-title {
  position: absolute;
  width: 437px;
  height: 24px;
  top: 1179px;
  left: 733px;
}

.group2-subheading {
  position: absolute;
  width: 560px;
  height: 40px;
  top: 1225px;
  left: 733px;
}

.group3-title {
  position: absolute;
  width: 437px;
  height: 24px;
  top: 1320px;
  left: 733px;
}

.group3-subheading {
  position: absolute;
  width: 535px;
  height: 40px;
  top: 1366px;
  left: 733px;
}

/* Video CSS */
.video {
  width: 1400px;
  height: 851px;
}
.video-heading {
  position: absolute;
  width: 1013px;
  height: 38px;
  /* top: 1710px; */
  left: 80px;
}
.video-background {
  position: absolute;
  width: 1400px;
  height: 611px;
  /* top: 1792px; */
  top: 1700px;
  background-color: #0056b3;
  z-index: -1;
}

.video-container {
  position: absolute;
  top: 1600px;
  left: 159px;
}

/* Testimonial CSS */
.testimonials {
  width: 1400px;
  height: 664px;
  margin-right: 0px;
  margin-left: 0px;
  border: 1px solid black;
}

.testimonials-title {
  width: 781px;
  height: 48px;
  position: absolute;
  top: 2410px;
  left: 78px;
  font-family: "Dela Gothic One";
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  color: black;
}

.testimonials-carousel-container {
  max-width: 1282px;
  height: 421px;
  position: absolute;
  top: 2550px;
  left: 59px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.testimonials-card-container {
  display: flex;
  gap: 20px;
  margin-bottom: 105px;
}

.testimonials-button-prev,
.testimonials-button-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: no-repeat center center;
  background-size: contain;
  border: none;
  cursor: pointer;
  margin-bottom: 105px;
}

.testimonials-button-next {
  transform: rotate(180deg);
}

/* Footer CSS */
.footer {
  /* width: 100%; */
  width: 1400px;
  height: 397px;
  padding: 80px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  color: #fff;
  gap: 64px;
}

.footer-logo {
  width: 234.92px;
  height: 63px;
  position: absolute;
  left: 59px;
}

.footer-links-logo {
  position: absolute;
  left: 59px;
  top: 3150px;
  display: flex;
  gap: 32px;
  z-index: 1;
}

.footer-links-logo a {
  color: #f3f3ff;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}

.footer-divider {
  width: 1280px;
  height: 1px;
  background: #ffffff;
  opacity: 50%;
  position: absolute;
  top: 3200px;
}

.footer-links {
  display: flex;
  gap: 24px;
  position: absolute;
  left: 59px;
  top: 3270px;
}

.footer-links a {
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.footer-marker {
  position: absolute;
  top: 3270px;
  left: 1180px;
}

/* Pricing Page */
/* Learning plan CSS */
.learningplan {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 50px 0;
}

.learningplan-heading {
  width: 100%;
  height: auto;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  margin: 120px auto;
}

.learningplan-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  padding: 0 50px; /* Add padding to the left and right for spacing */
  position: relative;
}

.card-wrapper {
  position: relative;
  width: 346px;
  height: 946px;
}

.card {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  position: relative;
  border-radius: 0;
  padding: 100px 20px 20px 20px;
  transition: transform 0.3s ease-in-out;
  background-color: white;
  z-index: 1;
}

.card-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 0;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.card-wrapper:hover .card {
  transform: translate(
    10px,
    -10px
  ); /* Lift the card slightly and move to the right, we can adjust it */
}

.card-wrapper:hover::before {
  opacity: 1;
  transform: translate(-4px, 4px);
}

.card-title {
  width: 100%;
  height: 80px;
  background-color: rgba(255, 193, 7, 0.25);
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin: 0;
  border-radius: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid black;
}

.card-price {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 48px;
  text-align: center;
  margin: 10px 0;
}

.card-pricetext {
  text-align: center;
}

.card-line {
  width: 100%;
  border-bottom: 1px dashed black;
  margin: 20px 0;
  opacity: 0.5;
}

.card-description {
  text-align: center;
  margin-bottom: 20px;
}

.card-button {
  display: block;
  width: 100%;
  padding: 16px;
  background-color: black;
  color: white;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 20px;
}

.card-including {
  font-weight: 700;
  margin-bottom: 10px;
  letter-spacing: 0.1em;
}

.card-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 0;
  border-bottom: 1px dashed black;
}

.card-list li:last-child {
  border-bottom: none;
}

/* Custom plan CSS */
.customplan {
  width: 100%;
  height: 228px; /* Fixed height as per original */
  position: absolute;
  top: 1350px; /* Same vertical position as original */
  display: flex;
  justify-content: center;
  align-items: center;
}

.customplan-vector {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  margin: 0 auto;
}

.customplan-box {
  width: 100%;
  max-width: 1118px;
  height: 189px;
  border: 1px solid black;
  background-color: #fff;
  position: absolute;
  top: 34px;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  padding: 20px;
}

.customplan-box-line {
  width: 100%;
  height: 0px;
  border: 1px solid black;
  background-color: #fff;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}

.customplan-box-title {
  color: black;
  width: 100%;
  max-width: 432.23px;
  height: 24px;
  position: absolute;
  top: 23px;
  left: 50px; /* Adjusted for better positioning */
}

.customplan-box-text,
.customplan-box-text-request {
  position: absolute;
  white-space: nowrap;
}

.customplan-box-text {
  color: black;
  width: 100%;
  max-width: 223px;
  text-align: center;
  top: 150px;
  left: calc(50% - 510px); /* Adjusted for better positioning */
}

.customplan-box-text-request {
  color: #0056b3;
  width: 100%;
  max-width: 223px;
  text-align: center;
  text-decoration: none;
  font-weight: 800;
  top: 150px;
  left: calc(50% - 220px); /* Adjusted for better positioning */
}

/* FAQ CSS */
.FAQ-frame {
  width: 100%;
  height: 712px;
  position: absolute;
  top: 1648px;
  background-color: #0056b3;
  margin: 0 auto; /* Center the frame */
  padding: 20px; /* Add some padding for better spacing */
  box-sizing: border-box;
}

.FAQ-heading {
  width: 487px;
  height: 142px;
  top: 90px;
  left: 80px;
  position: absolute;
  color: #ffffff;
  left: calc(50% - 800px);
}

.FAQ-content {
  position: relative;
  max-width: 620px;
  top: 110px;
  left: calc(50% + 100px);
}

.FAQ-line {
  width: 620px;
  height: 0;
  border-top: 1px solid white;
  opacity: 50%;
  margin-bottom: 10px;
}

.FAQ-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  max-width: 620px;
}

.FAQ-plus-icon {
  width: 24px;
  height: 24px;
}

.FAQ-answer {
  color: white;
  margin-bottom: 20px;
}

/* Footerpricing CSS */
.footerpricing {
  width: 1400px;
  height: 397px;
  padding: 80px 60px;
  gap: 64px;
  background-color: #000;
  position: absolute;
  top: 2360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.footerpricing-logo {
  width: 234.92px;
  height: 63px;
  position: absolute;
  left: 59px;
}

.footerpricing-links-logo {
  position: absolute;
  left: 59px;
  top: 175px;
  display: flex;
  gap: 32px;
}

.footerpricing-links-logo a {
  text-decoration: none;
  color: #f3f3ff;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.footerpricing-divider {
  width: 1280px;
  height: 1px;
  background: #ffffff;
  opacity: 50%;
  position: absolute;
  top: 225px;
}

.footerpricing-links {
  display: flex;
  gap: 24px;
  position: absolute;
  left: 59px;
  top: 295px;
}

.footerpricing-links a {
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.footerpricing-marker {
  position: absolute;
  top: 295px;
  left: 1180px;
}
